h1{color:#f44242}
img {
    height: 200
}
h2{color:#aef2cb}

#food {
    color:black;
    background: radial-gradient(black 20%, #3fff00 60%, #4c3100 20%);
    height:600px;
    width:900px;
}
h1 {
    text-align: center;
}
p {
    border: 2px outset;
    padding: 8px;
    margin: 8px;
    width: 20%;
}
/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: blue;
}

#music{
    color:black;
    background-color:#abb5c6;
    height:500px;
    width:900px;
}

span {
    font-weight: bold;
}
body{
    background: radial-gradient(black 5%, green 15%, brown 60%);
}
@import url(https://fonts.googleapis.com/css?family=Bungee+Hairline);

body{
   font-family: 'Bungee Hairline',cursive;
}
body{
    font-size: 13px;
}




    